<!DOCTYPE html>
<html>
  <head>
      <title>About Me Page</title>
      <link rel="stylesheet" href="static/style.css">
  </head>
  <body>
      <h1 class="center red big"> ~ About Me ~ </h1>
      <h2 class="center orange big2 noMargin"> || Who Is Hailey? || </h2>
      <img class="center2" src="https://res.cloudinary.com/teepublic/image/private/s--Oe3HBUYU--/t_Preview/b_rgb:ffffff,c_limit,f_jpg,h_630,q_90,w_630/v1527334647/production/designs/2725144_0.jpg"
      width="50px">
      <p class="center green big2 biggerFont noMargin">  Hailey is a Code Next Student
        <br> She is currently in 10th grade
        <br> She is from NYC
        <br> She isn't an egg, but looks close enough to one
      </p>
      <h2 class="center blue big2 noMargin">Want to know MORE about Hailey?</h2>
      <button class="purple" onclick="window.open('/dynamic')">[ Hailey's Dynamic Page ]</button>
    </body>
</html>