<!DOCTYPE html>
<html>
  <head>
      <title>Welcome Page</title>
      <link rel="stylesheet" href="static/style.css">
  </head>
  <body>
      <h1 class="center red big">~ Welcome ~</h1>
      <h2 class="center orange big2 noMargin"> || Hailey's Pi Playground || </h2>
      <img class="center2" src="https://www.misskatecuttables.com/uploads/shopping_cart/9194/large_playground2.png">
      <button class="blue"onclick="window.open('/about')">[ Hailey's About Me Page ]</button>
      <h2 class="center purple big2 noMargin">Made By: Hailey Wong</h2>
  </body>
</html>